.testDiv {
    color: red;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

// alles voor de Nav component

nav {
    width: 100%;
    height: 75px;
    // background-color: black;
    display: flex;
    position: fixed;
    transition: 0.5s;

    #nav-leftContainer {
        width: 50%;
        display: flex;
        // align-items: center;
    }

    #nav-rightContainer {
        width: 50%;
        display: flex;
        justify-content: flex-end;
        // background-color: red;
    }

    .logo {
        height: 75px;
    }

    #logoContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    .nav-icons {
        width: 75px;
        height: 100%;
        // background-color: green;
        // align-self: flex-end;
        margin-right: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #searchIconImg {
        height: 30px;
    }

    #dotsImg {
        height: 10px;
    }

    #hamburgermenu {
        height: 100%;
        width: 75px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #menuLogo {
        height: 30px;
    }
}

// alles voor de drie punten functie

#settingsContainer {
    background-color: red;
    position: absolute;
    right: 0px;
    top: 70px;
    width: 200px;
    height: 75px;
    display: flex;
    flex-direction: column;
    background-color: rgb(49, 48, 48);
}

.options {
    width: 100%;
    height: 100%;
    color: white;
    display: flex;
    align-items: center;
    padding-left: 2%;
}
.options_A{
    text-decoration: none;
    color: white;
}

.options:hover {
    background-color: rgb(70, 68, 68);
}

// alles voor de Siderbar component

aside {
    // background-color: purple;
    position: fixed;
    height: auto;
    width: 100%;
    display: flex;

    // overflow-y: scroll;
    #sidebarInnerContainerLeft {
        width: 30%;
        min-width: 325px;
        max-width: 325px;

        // z-index: 1;
        // position: absolute;
        // display: none;
        #profielContainer {
            width: 100%;
            background-color: rgb(49, 48, 48);
            height: 100px;
            color: white;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            border-left: solid 5px black;

            #profielFoto {
                height: 75px;
                width: 75px;
                background-color: aqua;
                background-image: url(images/accountImg.jpg);
                background-position: center;
                background-size: cover;

            }

            #profielSwitch {
                height: 50px;
                width: 50px;
                background-color: aqua;
            }
        }

        #sidebarContent {
            overflow-y: scroll;
            height: 100vh;


            .info {
                width: 100%;
                height: 60px;
                background-color: rgb(49, 48, 48);
                border-top: solid;
                border-left: solid 5px black;
                // border-bottom: solid;

                .asideInfoContainer {
                    width: 100%;
                    height: 100%;
                    // background-color: red;
                    display: flex;
                    align-items: center;
                    color: white;

                    .infoIcon {
                        width: 10px;
                        height: 10px;
                        border-radius: 50px;
                        background-color: white;
                        margin-left: 2%;
                        margin-right: 2%;
                    }
                }


            }

            ul {
                width: 100%;
                height: auto;
            }

            li:first-of-type {
                border-top: solid black;
                border-left: solid 5px red;
            }

            li {
                color: white;
                width: 100%;
                background-color: rgb(49, 48, 48);
                height: 60px;
                display: flex;
                align-items: center;
                padding-left: 10%;
                border-left: solid 5px black;
            }
        }
    }

    #sidebarInnerContainerRight {
        width: 100%;
        height: 100vh;
        background-color: black;
        opacity: 0.6;
    }
}

// alles voor de header component
header {
    background-color: yellow;
    // min-height: 600px;
    height: 1000px;
    // max-height: 1200px;
    width: 100%;
    background-image: url(images/header.webp);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
}

// #headerInfoContainer{
//     width: 50%;
//     height: 80%;
//     background-color: red;
// }

.genreTitle {
    height: auto;
    width: 100%;
    background-color: #000;
    color: white;
    border-left: solid 4px #000;
}

.rowContainer {
    height: 300px;
    min-width: 100%;
    background-color: aqua;
    border: solid;
    display: flex;
    overflow-x: scroll;
}

.rowContainer::-webkit-scrollbar {
    display: none;

}

.rowInnerContainer {
    display: flex;
}

.row {
    width: 200px;
    height: 100%;
    background-color: grey;
    border: solid 4px;
    background-image: url(images/batman.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    // background: no-repeat
}

// alles voor de inlogpagina

#loginInnerContainer {
    width: 100%;
    min-height: 800px;
    height: 100vh;
    background-color: red;
    background-image: url("images/loginbg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;

}

footer {
    height: 300px;
    width: 100%;
    background-color: yellow;
}

#loginFormContainer {
    width: 450px;
    background-color: black;
    height: 600px;
    border-radius: 10px;
    opacity: 0.8;
    display: flex;
    justify-content: center;

}

h2 {
    color: white
}

input {
    height: 50px;
    width: 250px;
    border-radius: 10px;
    border: none;
    margin: 10px 0px 10px 0px
}

form {
    // width: auto;
    // height: auto;
    display: flex;
    // background-color: red;
    flex-direction: column;
    // align-items: center;
    padding-top: 50px;
}