.testDiv {
    color: red;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

// alles voor de Nav component

nav {
    width: 100%;
    height: 75px;
    // background-color: black;
    display: flex;
    position: fixed;
    transition: 0.5s;

    #nav-leftContainer {
        width: 50%;
        display: flex;
        // align-items: center;
    }

    #nav-rightContainer {
        width: 50%;
        display: flex;
        justify-content: flex-end;
        // background-color: red;
    }

    .logo {
        height: 75px;
    }

    #logoContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    .nav-icons {
        width: 75px;
        height: 100%;
        // background-color: green;
        // align-self: flex-end;
        margin-right: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #searchIconImg {
        height: 30px;
    }

    #dotsImg {
        height: 10px;
    }

    #hamburgermenu {
        height: 100%;
        width: 75px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #menuLogo {
        height: 30px;
    }
}

// alles voor de drie punten functie

#settingsContainer {
    background-color: red;
    position: absolute;
    right: 0px;
    top: 70px;
    width: 200px;
    height: 75px;
    display: flex;
    flex-direction: column;
    background-color: rgb(49, 48, 48);
}

.options {
    width: 100%;
    height: 100%;
    color: white;
    display: flex;
    align-items: center;
    padding-left: 2%;
}

.options_A {
    text-decoration: none;
    color: white;
}

.options:hover {
    background-color: rgb(70, 68, 68);
}

// alles voor de Siderbar component

aside {
    // background-color: purple;
    position: fixed;
    height: auto;
    width: 100%;
    display: flex;

    // overflow-y: scroll;
    #sidebarInnerContainerLeft {
        width: 30%;
        min-width: 325px;
        max-width: 325px;

        // z-index: 1;
        // position: absolute;
        // display: none;
        #profielContainer {
            width: 100%;
            background-color: rgb(49, 48, 48);
            height: 100px;
            color: white;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            border-left: solid 5px black;
            border-bottom: solid #000;

            #profielFoto {
                height: 75px;
                width: 75px;
                background-color: aqua;
                background-image: url(images/accountImg.jpg);
                background-position: center;
                background-size: cover;
            }

            #profielSwitch {
                height: 50px;
                width: 50px;
                background-color: aqua;
            }
        }

        #sidebarContent {
            overflow-y: scroll;
            height: 100vh;

            .info {
                width: 100%;
                height: 60px;
                background-color: rgb(49, 48, 48);
                // border-top: solid;
                border-left: solid 5px black;
                border-bottom: solid;
                display: flex;

                .asideInfoContainer {
                    width: 50%;
                    height: 100%;
                    // background-color: red;
                    display: flex;
                    align-items: center;
                    color: white;

                    .infoIcon {
                        width: 10px;
                        height: 10px;
                        border-radius: 50px;
                        background-color: white;
                        margin-left: 2%;
                        margin-right: 2%;
                    }
                }
            }

            .asideInfoIcon {
                width: 50%;
                height: 100%;
                background-color: red;
            }

            ul {
                width: 100%;
                height: auto;
            }

            li:first-of-type {
                // border-top: solid black;
                border-left: solid 5px red;
            }

            li {
                color: white;
                width: 100%;
                background-color: rgb(49, 48, 48);
                height: 60px;
                display: flex;
                align-items: center;
                padding-left: 10%;
                border-left: solid 5px black;
            }
        }
    }

    #sidebarInnerContainerRight {
        width: 100%;
        height: 100vh;
        background-color: black;
<<<<<<< Updated upstream
        opacity: 0.6;
=======
        opacity: 0.5;
>>>>>>> Stashed changes
    }
}

// alles voor de header component
header {
    background-color: yellow;
    // min-height: 600px;
    height: 1000px;
    // max-height: 1200px;
    width: 100%;
    background-image: url(images/header.webp);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;

    #headerInfoContainer {
        width: auto;
        height: auto;
        // background-color: red;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 50px;

        #headerTitleLogo {
            color: white;
            font-size: 75px;
        }

        #headerTitle {
            color: white;
            font-size: 75px;
        }

        #headerText {
            color: white;
            width: 600px;
        }

        #headerKijk {
            color: white;
            font-weight: bolder;
            margin-top: 10px;
        }
        .headerBtns {
            width: 150px;
            height: 50px;
            margin-right: 10px;
            // background-color: #000;
            border: none;
            // opacity: 0.8;
            // color: white;
        }
    }
}

.genreTitle {
    height: auto;
    width: 100%;
    background-color: #000;
    color: white;
    border-left: solid 4px #000;
}

.rowContainer {
    height: 300px;
    min-width: 100%;
    background-color: aqua;
    border: solid;
    display: flex;
    overflow-x: scroll;
}

.ResumeRowContainer {
    height: 200px;
    min-width: 100%;
    background-color: black;
    border: solid;
    display: flex;
    overflow-x: scroll;

    .ResumeContainer {
        height: 100%;
        width: 320px;
        // background-color: blue;
        display: flex;
        flex-direction: column;
        // align-items: center;
        border-left: solid;

        .kijkVerderTitelContainer {
            width: 300px;
            height: 40px;
            // background-color: bisque;
            display: flex;

            .kijkVerderTitelContainerLeft {
                width: 50%;
                height: 100%;
                // background-color: green;
                color: white;
            }

            .kijkVerderTitelContainerRight {
                width: 50%;
                height: 100%;
                // background-color: purple;
                display: flex;
                justify-content: flex-end;
                align-items: center;

                .kijkVerderIcon {
                    height: 25px;
                    width: 25px;
                    background-color: chartreuse;
                    background-image: url(./images/uitroepteken.png);
                    background-size: contain;
                    background-position: center;
                }
            }
        }

        .kijkVerderImg {
            height: 160px;
            width: 300px;
            background-color: yellow;
            background-image: url(./images/superman.jpg);
            background-size: cover;
            background-position: center;
        }
    }
}

.ResumeRowContainer::-webkit-scrollbar {
    display: none;
}

.rowContainer::-webkit-scrollbar {
    display: none;
}

.rowInnerContainer {
    display: flex;
}

.row {
    width: 200px;
    height: 100%;
    background-color: grey;
    border: solid 4px;
    background-image: url(images/batman.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    // background: no-repeat
}

// alles voor als je klikt op een film

.movieInfoContainer {
    width: 100%;
    height: 100vh;
    // background-color: red;
    position: fixed;
    top: 0px;
    display: flex;
    justify-content: center;

    .movieInfo_OuterContainer {
        width: 25%;
        height: 100%;
        background-color: black;
        opacity: 0.5;
    }

    #movieInfoInnerContainerMiddle {
        height: 100%;
        width: 50%;
        background-color: rgb(49, 48, 48);
        max-width: 1000px;
        min-width: 500px;
    }

    .videoBackground {
        height: 400px;
        width: 100%;
        background-image: url(./images/gta.webp);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;

        .playVideo {
            height: 50px;
            width: 50px;
            // background-color: red;
            background-image: url(./images/playicon.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    }

    .videoInfoContainer {
        display: flex;
        width: 100%;
        height: auto;
        color: white;

        .videoInfo {
            margin-right: 10px;
            font-weight: bolder;
        }
    }

    .videoTekst {
        color: white;
    }
}

// alles voor de inlogpagina

#loginInnerContainer {
    width: 100%;
    min-height: 800px;
    height: 100vh;
    background-color: red;
    background-image: url("images/loginbg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    // align-items: center;
}

footer {
    height: 300px;
    width: 100%;
    background-color: yellow;
}

#loginFormContainer {
    width: 475px;
    background-color: black;
    height: 600px;
    border-radius: 10px;
    // opacity: 0.8;
    display: flex;
    justify-content: center;
    margin-top: 100px;
    // flex-direction: column;
    // align-items: center;
}

#loginBtn {
    width: 300px;
    background-color: red;
    height: 50px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
    font-weight: bolder;
    margin-top: 25px;
}

h2 {
    color: white;
}

.loginVeld {
    height: 50px;
    width: 300px;
    border-radius: 5px;
    border: none;
    margin: 10px 0px 10px 0px;
}

form {
    width: 300px;
    // height: auto;
    display: flex;
    // background-color: red;
    flex-direction: column;
    // align-items: center;
    padding-top: 50px;
}

// film afspelen

#playFilm {
    width: 100%;
    height: 100vh;
    // background-color: red;
    // margin-left: auto;
    // margin-right: auto;
}
#helpContainer {
    width: 100%;
    // background-color: green;
    display: flex;
    align-items: center;
    font-size: 80%;
    margin-top: 10px;
    color: white;

    #RememberMe {
        margin-right: 5px;
    }

    .hulpBtn {
        margin-left: auto;
        color: white;
        text-decoration: none;
    }
}
